In [5]:
s = "Python is Great"
count1 = 0
count2 = 0

for i in s:
    if i.isupper():
        count1 += 1
    elif i.islower():
        count2 += 1
    else:
        continue
        
print({'UPPER_CASE': count1, 'LOWER_CASE': count2})

{'UPPER_CASE': 2, 'LOWER_CASE': 11}

In [12]:
s1 = "nurses run"
s2 = s1[::-1]
print(s2)

if s1 == s2:
    print(True)
else:
    print(False)

nur sesrun
False

In [13]:
s1 = "nurses run"
rev = ''.join(reversed(s1))

if s1 == rev:
    print(True)
else:
    print(False)

False

In [17]:
# You will be given an integer called limit. 
# Write a function that returns the sum of multiples of 3 and 5 between 0 and limit (parameter). 
# For example, if limit is 20, 
# it should return the sum of 3, 5, 6, 9, 10, 12, 15, 18, 20.

sum = 0
for i in range(0, 21):
    if i % 3 == 0 or i % 5 == 0:
        sum += i
print(sum)

98

In [37]:
# Write a Python function that accepts a hyphen-separated sequence of words as input and
# prints the words in a hyphen-separated sequence after sorting them alphabetically.

s1 = 'green-red-yellow-black-white'
s2 = s1.split('-')
print(s2)
s3 = sorted(s2)
print(s3)

s4 = ''
for i in s3:
    s4 = '-'.join(s3)
print(s4)

['green', 'red', 'yellow', 'black', 'white']
['black', 'green', 'red', 'white', 'yellow']
black-green-red-white-yellow

In [40]:
#You will be given a date in format yyyy-mm-dd. You have to cahgne this format into dd-mm-yyyy format.

s1 = '2020-10-11'
s2 = s1.split('-')
s3 = s2[::-1]

s4 = ''
for i in s3:
    s4 = '-'.join(s3)
print(s4)

['2020', '10', '11']
['11', '10', '2020']
11-10-2020

In [42]:
s1 = 'The following example creates an ArrayList with a capacity of 50 elements. Four elements are then added to the ArrayList and the ArrayList is trimmed accordingly'
s2 = s1.split()
print(s2)

['The', 'following', 'example', 'creates', 'an', 'ArrayList', 'with', 'a', 'capacity', 'of', '50', 'elements.', 'Four', 'elements', 'are', 'then', 'added', 'to', 'the', 'ArrayList', 'and', 'the', 'ArrayList', 'is', 'trimmed', 'accordingly']

In [53]:
import re

str1 = str(input())

str2 = re.findall('[ae]\w+', str1)
str3 = ''
for x in str2:
    str3 = ",".join(str2)
print(''+ str3 + '')

The following example creates an ArrayList with a capacity of 50 elements. Four elements are then added to the ArrayList and the ArrayList is trimmed accordingly
example,eates,an,ayList,apacity,elements,elements,are,en,added,ayList,and,ayList,ed,accordingly

    1. You will be given a string. You have to replace first two occurance of either space or comma or dot with colon (:)

    Input Format:

    The first line contains a string

    Output Format:

    print new string

    Sample Input 0: